.ColumnFourth {
  width: 24%;
  float: left;
  height: auto;

}

.ColumnHalf {
  width: 48%;
  float: left;
  height: auto;

}

.ColumnThreeFourths {
  width: 74%;
  float: left;
  height: auto;

}

.ColumnFull {
  width: 98%;
  float: left;
  height: auto;

}

.ColumnHeightStretch {
  min-height: 600px;
  height: auto !important;
  height: 600px;
}

