/*we want to keep eveything on one page so we do a general limit on divs*/
html, body {
    height:92%;
}

lable {
    margin-left:10px;
}

.TabArea {
    margin-top:8px;
}

.TabAreaScroll {
    max-height:98%;
    overflow-y: auto;
}

/*for markdown editor*/
.CodeMirror {
	height: 100px;
}


#editor_box {
    position: fixed;
    z-index: 99 !important;

    background-color: white;
    margin: auto;

    border: double 4px;

    height: 100%;

    left: 20px;
    right: 20px;

    overflow:scroll;

    max-height: 80%
}


