/*we want to keep eveything on one page so we do a genaeral limit on divs*/
div {
    max-height:98%;
}


lable {
    float:clear;
 
    margin:10px;
}

.Info {
    height:48%;

    padding: 8px;
    margin-bottom:10px;
}

#SelectionInfo div {
    margin-bottom:20px;
}

#SelectionInfo .Button {
    margin-right:4px;
}

#RaceSummery div {
  margin-bottom: 10px;
}


#Filters {
    height:60%
}




#RegionsText {
    float:left;
}

#SystemsText {
    float:left;
    margin-bottom:20px;

}


#FunctionType {
    float:left;
    margin-bottom:20px;

}



#racePartBuildRight {
    width:44%;
}

#racePartBuildLeft {
    width:44%;
}

#addRacePart {
    font-size: 20px;
    width:90%;
    height: 30px;
    margin-bottom:20px;
}
