/*we want to keep eveything on one page so we do a general limit on divs*/
div {
    max-height:90%;
}


lable {
    float:clear;
 
    margin:10px;
}

.Info {
    height:80%;

    padding: 8px;
    margin-bottom:10px;
}

#HeaderBar { 
    border:2px solid black;
    height:30px;
    padding:4px;
}

#RaceURLBox {
    float:right;
}

#SelectionInfo div {
    margin-bottom:20px;
}

#SelectionInfo .Button {
    margin-right:4px;
}

#RaceSummery div {
  margin-bottom: 10px;
}


#Filters {
    height:60%
}


#tab_bar {
    margin-top:4px;

    padding:4px;
    height: 35px;
}

#RegionsText {
    float:left;
}

#SystemsText {
    float:left;
    margin-bottom:20px;

}


#FunctionType {
    float:left;
    margin-bottom:20px;

}



#racePartBuildRight {
    width:44%;
}

#racePartBuildLeft {
    width:44%;
}

#addRacePart {
    font-size: 20px;
    width:90%;
    height: 30px;
    margin-bottom:20px;
}
